[package]
name = "pizauth"
description = "Command-line OAuth2 authentication daemon"
version = "1.0.6"
repository = "https://github.com/ltratt/pizauth/"
authors = ["Laurence Tratt <laurie@tratt.net>"]
readme = "README.md"
license = "Apache-2.0 OR MIT"
categories = ["authentication"]
keywords = ["oauth", "oauth2", "authentication"]
edition = "2021"

[build-dependencies]
cfgrammar = "0.13"
lrlex = "0.13"
lrpar = "0.13"
rerun_except = "1"

[dependencies]
base64 = "0.22"
bincode = "1"
boot-time = "0.1.2"
cfgrammar = "0.13"
chacha20poly1305 = "0.10"
chrono = "0.4"
getopts = "0.2"
hostname = "0.4"
log = "0.4"
lrlex = "0.13"
lrpar = "0.13"
nix = { version="0.29", features=["fs", "signal"] }
rand = "0.9"
serde = { version="1.0", features=["derive"] }
sha2 = "0.10"
serde_json = "1"
stderrlog = "0.6"
syslog = "7.0.0"
ureq = "2"
url = "2"
wait-timeout = "0.2"
whoami = "1.5"
rustls = { version = "0.23.12", features = ["ring", "std"], default-features = false }
rcgen = { version = "0.13.1", features = ["crypto", "ring"], default-features = false }

[target.'cfg(target_os="openbsd")'.dependencies]
pledge = "0.4"
unveil = "0.3"

[target.'cfg(target_os="macos")'.dependencies]
libc = "0.2"

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
