[Unit]
Description=pizauth dump/restore backend (encryption: age)
BindsTo=pizauth.service
After=pizauth.service
ReloadPropagatedFrom=pizauth.service

[Service]
Type=simple
RemainAfterExit=yes
# This unit needs to be configured before it's usable!
# To use this unit, use systemctl --user edit pizauth-state-age.service to
# create a drop-in configuration file. In it, set
# Environment="PIZAUTH_KEY_ID=public key you want to encrypt with"
# Environment="PIZAUTH_KEY_FILE=path to file
Environment="PIZAUTH_KEY_ID="
Environment="PIZAUTH_KEY_FILE="
Environment="PIZAUTH_STATE_FILE=%S/%N.dump"
ExecStart=-sh -c 'age --decrypt --identity "$PIZAUTH_KEY_FILE" -o - "$PIZAUTH_STATE_FILE" | pizauth restore'
ExecReload=-sh -c 'age --decrypt --identity "$PIZAUTH_KEY_FILE" -o - "$PIZAUTH_STATE_FILE" | pizauth restore'
ExecStop=-sh -c 'pizauth dump | age --encrypt --recipient "$PIZAUTH_KEY_ID" -o "$PIZAUTH_STATE_FILE"'

[Install]
WantedBy=pizauth.service
